/*
* Palettes:
* -------
* #1
* #F8F9FA
* #E9ECEF
* #DEE2E6
* #CED4DA
* #ADB5BD
* #6C757D
* #495057
* #343A40
* #212529
*
* #2
* #FFFFFF
* #000000
*/

@font-face {
    font-family: "FiraCode-Regular";
    src: url("./assets/static/FiraCode-Regular.ttf");
}
@font-face {
    font-family: "FiraCode-Retina";
    src: url("./assets/static/FiraCode-Retina.ttf");
}
@font-face {
    font-family: "FiraCode-Bold";
    src: url("./assets/static/FiraCode-Bold.ttf");
}
@font-face {
    font-family: "FiraCode-SemiBold";
    src: url("./assets/static/FiraCode-SemiBold.ttf");
}
@font-face {
    font-family: "FiraCode-Light";
    src: url("./assets/static/FiraCode-Light.ttf");
}
*{
    font-family: "FiraCode-Retina";
    padding: 0;
    margin: 0;
}

#toolbar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
}
.toolbar-item{
    padding: 0px 8px 0px 8px;
    font-size: small;
    font-family: "FiraCode-Regular";
}
.toolbar-item:hover{
    background-color: #EEEEEE;
}

#ab-box-container{
    display: flex;
    flex-direction: row;
    height: 45vh;
    max-height: 45vh;
}

.ab-item{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.noice{
    font-family: "FiraCode-SemiBold";
    background: #FFFFFF;
    color: #000000;
}

#patterns-container{
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#script-editing-ta{
    width: 100%;
    height: 50%;
    border: none;
    overflow-y: scroll;
}

.pattern-entry{
    display: flex
    flex-direction: row;
}
.pattern-input{
    width: 95%;
    outline: none;
    border: none;
    outline: none;
    color: #FFFFFF;
    background-color: #000000;
    font-family: "FiraCode-Light";
}
.pattern-input[IsSelected=true]{
    background-color: #111111;
}
button.pattern-entry-button{
    color: #FFFFFF;
    background-color: #000000;
    border: none;
}
#text-area,#pre-text{
    white-space: pre-wrap;
    overflow-y: scroll;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
}
pre::-webkit-scrollbar,textarea::-webkit-scrollbar,div::-webkit-scrollbar {
  display: none;
}

body,textarea {
    background-color: #000000;
    color: #FFFFFF;
}
input,button{
    font-family: "FiraCode-Regular";
}
.bottomright {
    font-family: "FiraCode-Light";
    position: absolute;
    bottom: 1%;
    right: 1%;
}
.bottomleft {
    font-family: "FiraCode-Light";
    position: absolute;
    bottom: 1%;
    left: 1%;
}
